

    <div class = "col-md-3 artist">
      <%= image_tag artist.image %>
    <h3 class = "text-center">
      <%= artist.artistn %>
      <%= link_to "delete", artist, method: :delete %>
      <%= link_to artist.artistn, artist %>
    </h3>
    </div>
