    <div class = "col-md-3 artist">
      <%= image_tag artist.image, class: "img-responsive" %>
    <h3 class = "text-center">
      <%= link_to artist.artistn, artist %> -
      <%= link_to "delete", artist, method: :delete %>

    </h3>
    </div>
